header{
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    background-color: #000000da;
    color: #ffffff;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em;
    animation: fadeInDown 1s;
}

.photoBox{
    width: 50px;
    height: 50px;
    gap: 20px;
    border-radius: 50%;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoBox:hover{
    box-shadow: rgb(26, 181, 223) 0px 22px 70px 4px;
    transform: translate(-5px);
    transition: 1.5s;
}

.photo{
    height: 40px;
    width: 40px;
    object-fit: contain;
}

.name{
   font-size: 1.5rem;
   position: fixed;
   top: 30;
   margin-left: 150px;
   display: flex;
   align-items: center;
   gap: 7px;

}

.point1{
    animation: fadeIn 1.5s linear infinite;
}
.point2{
    animation: fadeIn 1.7s linear infinite;    
}
.point3{
    animation: fadeIn 1.9s linear infinite;    
}

nav{
    display: flex;
    gap: 40px;
}

nav a{
    font-size: 1rem;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

nav a:hover{
    color: #35baf8;
    transition: 1.5s;
    box-shadow: rgba(8, 215, 238, 0.881) 0px 25px 20px -20px;
}


.openBtn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 5px;
    visibility: hidden;
    color: #ffffff;
    opacity: 0;
}

@media(max-width:1024px) {
    .openBtn{
        visibility: visible;
        opacity: 1;
    }

    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000000dc;
        backdrop-filter: blur(5px);
        transition: 1s;
        transform: translateY(-100vh);
    }

    nav a{
        font-size: 1.3rem;
    }

    .responsiveNav{
        transform: none;
    }

    .closeBtn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}




